.bg {
    background-color: rgb(105, 105, 105);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    font-family: Tahoma;
}
.body{
    color: rebeccapurple;
}
.card{
    color: rebeccapurple;
    margin-right: 10%;

    
}
.h1{
    color: rgb(5, 1, 252);
    font-size: 80;
    display: flex;
}
.center{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    justify-content: flex-start; 
    padding-bottom: 2%;
    align-content: flex-start;
}


