.bg {
    background-color: rgb(105, 105, 105);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    font-family: Tahoma;
}
.body{
    color: rebeccapurple;
    background-color: lightblue;
}
.card{
    color: rebeccapurple;
    margin-left: 10%;
}
.h1{
    color: rgb(5, 1, 252);
    font-size: 80;
    display: flex;
}
.center{
    left: 0 px;
    display: inline-block;
    flex-direction: column;
    text-align: start;
    width: 20%;   
    justify-content: flex-start; 
    padding-bottom: 2%;
    align-content: flex-start;
}
.gutter-box {
    padding: 8px 0;
    background: #00a0e9;
  }
  [data-theme="dark"] .gutter-box {
    background: #c5c2c3;
  }
.logout-button{
    margin-bottom: 10%;
    size: 80%;
    float: right;
    margin-top: 15px;
}
.info h1 {
    size: 2px;
    text-indent: 20px;
    word-spacing: 10px;
    font-family: Tahoma;
}
