.site-layout-content {
    min-height: 280px;
    padding: 10px;
    background: red;
  }
  .logo {
    float: left;
    width: 180px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .user {
    float: right;
    width: 200px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
[data-theme="dark"] .site-layout-content {
      background: firebrick;
}
.table{
    width: 500px;
}
