.site-layout-content {
    min-height: 280px;
    padding: 20px;
    background: rgb(255, 255, 255);
    
  }
  .logo {
    float: left;
    width: 180px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .user {
    float: right;
    width: 200px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
[data-theme="dark"] .site-layout-content {
      background: firebrick;
}
.table{
    width: 550px;
}
.listOrder{
  width: 500px;
  height: 100%;
  overflow: scroll;
  height: 600px;

}
.catTab{
  padding-left: 50px;
  height: 600px;
}
.name-button{
  margin-bottom: 5%;
  size: 100%;
  float: right;
  margin-top: 5px;
  margin-right: 5%;
}
.bg {
  min-height: 100vh;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  background: url(bgg.jpg) no-repeat;
  /* background-size: cover; */
  font-family: Tahoma;
}
.logout-button{
  margin-bottom: 10%;
  size: 100%;
  float: right;
  margin-top: 15px;
}